<!-- <div class="about"> -->
	<h2>About</h2>
<div class="about">
	<div>
<h4 id="i1">当サイトのコンセプト</h4>
	24gymは会員であれば24時間どこの店舗でも利用できるのが魅力です。しかし、店舗によって微妙に置いてあるマシンや設備が異なります。</br>どの店舗にどんなマシンや設備があるかわかったら便利だとは思いませんか？</br>当サイトは皆さんがそういう風に思ったときに助けになるような情報を提供できればと思います。</br>
また、ジム詳細画面のコメント欄に皆さんが気付いたことや思ったこと、補足情報などあればぜひ投稿してください！</br>
皆さんからの情報をもとにこのサイトの機能を増やしていくかもしれません
そうやって皆さんでどんどん便利なサイトにしていきましょう！
</div>
<div>
	<h4 id="i1">管理人プロフィール</h4>
練馬区在住28歳、筋トレ歴3年の24gymヘビーユーザーです。</br>
僕自身、普段のトレーニングでのマシンなどにはこだわりがあり、</bt>初めていく店舗で目当てのマシンがなかったり、パワーラックが1台しかないなどで落胆することが多々ありました。</br>僕と同じような思いをしている人のためにもこのサイトを作ろうと考えました！</br>もし機会があれば利用者さんとの交流会などもできたらなと思います。
よろしくお願いします！
</div>

</div>