<div class="col-lg-8 offset-lg-1">
<h2>プロフィール編集</h2>
<%= form_for(@user) do |f| %>
	<label>名前</label></br>
	<%= f.text_field :name, autofocus: true%></br>
	<label>email</label></br>
	<%= f.text_field :email %></br>
<button type="submit" class="btn btn-primary">更新</button>
<% end %>
</div>
