/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.top{
	width:1024px;
	margin: 0 auto;
}

main{
	margin-top:10px;
}
header {
	width:100%;
	height: 80px;
	background-color: #ffefd5;
}
.clearfix::after{
	content:"";
	display: block;
	clear: both;
}
ul {
	display: flex;
	justify-content: flex-end;
	list-style-type: none
}

ul > :first-child {
  margin-right: auto;
}


 .logo {
  float: left;
  height:60px;
}

.header-content{
	display: flex;
	margin:0 auto;
}
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
li{
	display: block;
	border-radius: 3px;
	padding: 12px 20px;
	color: white;
	text-decoration: none;
}

nav{
	display: block;
	height:90%;
	float: right;
	}

.about{
	display:flex;
	flex-direction:column;
	justify-content: space-between;
}
.about > div{
	margin: 15px;
	font-size: 15px;
}

button{
	margin-top:15px;
}
.gym-show{
	display:flex;
	justify-content:center;
}
.gym-show > div:nth-child(1){
	flex-grow: 1;
}
.gym-show > div:nth-child(2){
	flex-grow: 1;
}
footer {
  background-size: contain;
  background-position: bottom center;
  border-top: ridge 6px #483d8b;
  width: 100%;
  height: 50px;
  text-align: center;
  position: fixed;
  bottom: 0;
}
.footer-text {
  font-size: 20px;
}